.btn {
  &-primary {
    background-color: $red;
    border-color: $red;
    &:hover {
      background-color: $red;
      border-color: $red;
    }
    &:focus {
      background-color: $red;
      border-color: $red;
      box-shadow: none;
    }
    &:active {
      box-shadow: none !important;
      background-color: lighten($red, 5);
    }
  }
  &-secondary{
    background-color: lighten($gray,  10);
    border-color: lighten($gray,  10);
    &:hover {
      background-color: lighten($gray,  10);
      border-color: lighten($gray,  10);
    }
    &:focus {
      background-color: lighten($gray,  10);
      border-color: lighten($gray,  10);
      box-shadow: none;
    }
    &:active {
      box-shadow: none !important;
      background-color: lighten($gray, 5);
    }
  }
  &-block {
    width: 100%;
  }
}

.btn--group{
  display: flex;
  gap: 1rem;
  .btn{
    width: 100%;
  }
}
