.chatlist {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  &--item {
    @include user--details;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: lighten($dark-gray, 5);
    }
    .user--avatar {
      width: 50px;
      height: 50px;
    }
  }
  &--header {
    padding: 1rem;

    h4 {
      color: $white;
    }
  }
  &--body {
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 auto;
    overflow: auto;
    @include scrollbar;
  }
}
