form {
  &.search {
    .input-group {
      .form-control {
      }
    }
    @media (max-width: 630px) {
      display: flex;
      justify-content: flex-end;
      .input-group {
        width: fit-content;
        padding: 0;
        border-radius: 50% !important;
        .form-control {
          display: none;
        }
        &-text {
          min-width: 44px;
          min-height: 44px;
          padding: 0;
          border-radius: 50% !important;
          @include center;
        }
      }
    }
  }
}

.form {
  padding: 1rem 0;
  padding-top: 2rem;
  &--item {
    margin-bottom: 1.5rem;
    label {
      color: $white;
      margin-bottom: 0.5rem;
    }
    .forgot--link {
      display: flex;
      justify-content: flex-end;
      padding: 0.75rem 0;
      padding-bottom: 1.5rem;
      font-weight: 500;
      a {
        &:hover {
          color: $red;
        }
      }
    }
  }
  &--row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .form--item {
      width: 48%;
    }
  }
  .signup--link,
  .login--link {
    text-align: center;
    font-weight: 500;
    color: $white;
    a {
      &:hover {
        color: $red;
      }
    }
  }
  .login--link {
    margin: 1rem 0;
  }
  .term-pp--link {
    font-size: 14px;
    color: $white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    color: lighten($gray, 45);
    a {
      &:hover {
        color: $red;
      }
    }
  }

  .form-control {
    padding: 0.575rem 0.75rem;
  }
  select {
    padding-top: 0.575rem !important;
    padding-bottom: 0.575rem !important;
  }
  input[type="date"] {
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
      opacity: 0.6;
      cursor: pointer;
    }
  }
  .btn-primary {
    padding: 0.475rem 1.5rem;
  }
}
