form {
  &.search {
    .input-group {
      .form-control {
      }
    }
    @media (max-width: 630px) {
      display: flex;
      justify-content: flex-end;
      .input-group {
        width: fit-content;
        padding: 0;
        border-radius: 50% !important;
        .form-control {
          display: none;
        }
        &-text {
          min-width: 44px;
          min-height: 44px;
          padding: 0;
          border-radius: 50% !important;
          @include center;
        }
      }
    }
  }
}
