.form-control {
  border: 1px solid transparent;
  background-color: $gray;
  color: lighten($gray, 55);
  &:focus {
    color: lighten($gray, 55);
    box-shadow: none !important;
    border-color: transparent;
    background-color: darken($gray, 0.5);
  }
}
.input {
  &-group {
    padding: 0.25rem 0.5rem;
    background-color: $gray;
    border-radius: 10px;
    &-text {
      background-color: $gray;
      border: 1px solid transparent;
      cursor: pointer;
      svg {
        fill: $red;
      }
    }
  }
}

.form-select {
  border: 1px solid transparent;
  color: lighten($gray, 55);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%ffffff ' ><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 12px;
  background-position: calc(100% - 13px) 15px;
  background-repeat: no-repeat;
  background-color: $gray;
  &:focus {
    color: lighten($gray, 55);
    box-shadow: none !important;
    border-color: transparent;
    background-color: darken($gray, 0.5);
  }
}

.custom--checkbox {
  &--group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
    margin: 1rem 0;
  }
  &--item {
  }
  &--content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.75rem;
    background-color: $gray;
    cursor: pointer;
    border-radius: 6px;
    margin: 0;
    position: relative;
    &:hover {
      background-color: lighten($gray, 2);
    }
    input {
      display: none;
      &:checked {
        ~ .check--icon {
          &::before {
            opacity: 1;
          }
          i {
            color: $red;
          }
        }
        ~ .custom--checkbox--label {
          color: $white;
        }
        ~ .custom--checkbox--icon {
          i {
            color: $white;
          }
        }
      }
    }
    .check--icon {
      position: absolute;
      right: 10px;
      &::before {
        content: "";
        background-color: $white;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        opacity: 0;
      }
      i {
        position: relative;
        z-index: 9;
        color: darken($gray, 5);
      }
    }
  }
  &--icon {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 1.2rem;
      color: lighten($gray, 44);
    }
  }
  &--label {
    margin: 0 !important;
    font-weight: 600;
    color: lighten($gray, 55);
  }
}
.otp {
  &--group {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  &--input {
    width: 40px;
    border: 1px solid red;
    border: 1px solid transparent;
    background-color: $gray;
    color: lighten($gray, 55);
    outline: none;
    text-align: center;
    padding: 0.75rem 0;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 600;
    &:focus {
      color: lighten($gray, 55);
      box-shadow: none !important;
      border-color: transparent;
      background-color: lighten($gray, 5);
    }
  }
}

.custom{
  &--select{
    .select{
      width: 100% !important;
    }
  }
}
.select2{
  &-container{

  }
  &-selection--single{
    height: unset !important;
    padding: 0.575rem 0.75rem;
  }
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: unset !important; 
}
.select2-container--default .select2-selection--single{
  position: relative;
  border: none !important;
  border: 1px solid transparent;
  background-color: $gray;
  color: lighten($gray, 55);
  &:focus {
    color: lighten($gray, 55);
    box-shadow: none !important;
    border-color: transparent;
    background-color: darken($gray, 0.5);
  }
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 8px;
  right: 6px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding: 0;
  color: lighten($gray, 55);
}

.select2-dropdown{
   background-color: $gray;
   border-color:  $gray;;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  border-color:lighten($gray,10);
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.select2{
  &-search{
    padding: 6px;
    &__field{
      border:none;
      outline: none;
      background-color: $gray;
      color: $white;
    }
  }
  &-results{
    &__option{
      &--selected{
        background-color: $red !important;
        color: $white !important;
        &:hover{
          background-color: $red !important;

        }
      }
    }
    &__option{
      &--highlighted{
        background-color: lighten($gray, 5);
      }
      &--highlighted{
        background-color: lighten($gray, 5);
      }
      &--default{
        background-color: lighten($gray, 5);
      }
    }
  }
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background-color: lighten($gray, 5);
}
.select2-container--default .select2-results>.select2-results__options{
  @include scrollbar;
}
.select2-container{
  width: 100% !important;
  z-index: 99999;
}
.select2-search .select2-search--dropdown{
  display: none;
}

.select2-container .select2-container--default .select2-container--open{

}


// .select2-results__option--selectable{
//   background-color: $gray;
// }
// .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
//   background-color: $red;
// }
// .select2-container--default .select2-results__option--selected{
//   background-color: blueviolet;
// }