.form-control {
  border: 1px solid transparent;
  background-color: $gray;
  color: lighten($gray, 55);
  &:focus {
    color: lighten($gray, 55);
    box-shadow: none !important;
    border-color: transparent;
    background-color: darken($gray, 0.5);
  }
}
.input {
  &-group {
    padding: 0.25rem 0.5rem;
    background-color: $gray;
    border-radius: 10px;
    &-text {
      background-color: $gray;
      border: 1px solid transparent;
      cursor: pointer;
      svg {
        fill: $red;
      }
    }
  }
}

.form-select {
  border: 1px solid transparent;
  color: lighten($gray, 55);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%ffffff ' ><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 12px;
  background-position: calc(100% - 13px) 15px;
  background-repeat: no-repeat;
  background-color: $gray;
  &:focus {
    color: lighten($gray, 55);
    box-shadow: none !important;
    border-color: transparent;
    background-color: darken($gray, 0.5);
  }
}
