.setting--modal {
}
.modal {
    &-content {
        background-color: lighten($dark-gray, 5);
        border-radius: 12px;
        @media (max-width: 575px) {
            border-radius: 12px 12px 0 0;
        }
    }
    &-header {
        border: none;
        .btn-close {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: none;
            border-radius: 50%;
            transition: all 0.15s ease-in-out;
            &:hover {
                background-color: lighten($dark-gray, 20);
            }
            &:focus {
                box-shadow: none;
            }
            i {
                color: $red;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    &-footer {
        border: none;
        @media (max-width: 575px) {
            justify-content: center;
        }
    }
    &-body {
        padding: 0 2rem;
    }
    &-dialog {
        @media (max-width: 575px) {
            margin: 0;
        }
    }
    &-dialog-centered {
        @media (max-width: 575px) {
            align-items: flex-end;
            min-height: calc(100% - 0rem) !important;
        }
    }
}
