.gallery {
  &--slider {
    .slider {
      .owl-stage {
        display: flex;
        flex-direction: column;
      }
      &--content {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      &--item {
        flex: 1 1 auto;
        display: flex;
      }
      &--img {
        width: unset !important;
        max-width: 100%;
        max-height: 100% !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .owl {
      position: relative;
      &-item {
        flex: 1 1 auto;
        display: flex;
      }
      &-stage {
        flex: 1 1 auto;
        display: flex;
        &-outer {
          display: flex;
        }
      }
      &-prev {
        // display: block;
        // width: 40px;
        // height: 40px;
        // background-color: red !important;
        // cursor: pointer;
      }
      &-nav {
        display: none !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
        pointer-events: none;
        button {
          display: block;
          width: 40px;
          height: 40px;
          background: rgba($gray, 0.4) !important;
          cursor: pointer;
          border-radius: 50%;
          span {
            transform: scale(1.5);
            display: block;
          }
        }
      }
    }
  }
}
