.auth--layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: $dark-gray;
  &--banner {
    width: 50%;
    position: relative;
    overflow: hidden;
    @media (max-width: 780px) {
      width: 100%;
    }
    .banner--img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 110%;
      @media (max-width: 1500px) {
        width: 150%;
      }
      @media (max-width: 1000px) {
        width: 200%;
      }
      @media (max-width: 420px) {
        width: 250%;
      }
      @media (max-width: 220px) {
        width: 280%;
      }
    }
  }
  &--content {
    width: 50%;
    display: flex;
    flex-direction: column;
    .brand {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
    .header {
      padding: 1rem;
    }
    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      .content {
        max-width: 400px;
        width: 100%;
        margin-top: -5rem;
        h1 {
          color: $white;
        }
        p {
          margin-top: 1rem;
        }
      }
    }
    @media (max-width: 780px) {
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      z-index: 99999;
    }
  }
}
