.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  padding-bottom: 1rem;
  gap: 1.5rem;
  @media (max-width: 425px) {
    gap: 1rem !important;
  }
  @media (max-width: 1360px) {
    gap: 1rem !important;
  }
  @media (max-width: 899px) {
    padding-top: 0.5rem;
  }
  .search--box {
    max-width: none;
    flex: 1 1 auto;
    @media (max-width: 1464px) {
      width: 100%;
    }
    .search {
      max-width: 744px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .left {
    display: flex;
    padding: 0rem 0.75rem;
    justify-content: flex-start;
    max-width: 360px;
    width: 100%;
    @media (max-width: 1464px) {
      min-width: 240px;
      max-width: 300px;
    }
    @media (max-width: 675px) {
      min-width: unset !important;
    }
  }
  .right {
    justify-content: flex-end;
    max-width: 367px;
    width: 100%;
    position: relative;
    display: flex;
    padding: 0rem 0.75rem;
    gap: 1rem;
    align-items: center;
    @media (max-width: 1464px) {
      max-width: none;
      width: fit-content;
      min-width: 240px;
    }
    @media (max-width: 899px) {
      padding-left: 0;
      min-width: unset !important;
    }
  }

  .option {
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    .user--avatar {
      border-radius: 10px;
    }
    @media (max-width: 899px) {
      min-width: 40px;
      min-height: 40px;
      svg {
        width: 20px;
      }
      .user--avatar {
        width: 40px;
        height: 40px;
      }
    }
  }
  .chat {
    &--icon {
      svg {
        fill: $red;
      }
    }
  }
}
