.page {
  height: 100vh;
  background-color: $dark-gray;
}
.container {
  gap: 2rem;
  max-width: 1464px;
  @media (max-width: 1920px) {
    max-width: none;
  }
  @media (max-width: 1464px) {
    gap: 1.5rem;
  }
}
.warpper {
  background-color: $dark-gray;
  position: relative;
  height: calc(100vh - 90px);
  overflow: auto;
  @media (max-width: 899px) {
    height: calc(100vh - 86px);
  }
  .body {
    position: relative;
    height: calc(100vh - 90px);
    overflow: auto;
    @include scrollbar;
    @media (max-width: 1400px) {
      padding-right: 0.25rem;
      padding-left: 0.9rem;
    }
    @media (max-width: 899px) {
      height: calc(100vh - 86px);
    }
  }
  &.container {
    padding: 0;
  }
}

.auth--layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: $dark-gray;
  &--banner {
    width: 50%;
    position: relative;
    overflow: hidden;
    @media (max-width: 780px) {
      width: 100%;
    }
    .banner--img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 110%;
      @media (max-width: 1500px) {
        width: 150%;
      }
      @media (max-width: 1000px) {
        width: 200%;
      }
      @media (max-width: 420px) {
        width: 250%;
      }
      @media (max-width: 220px) {
        width: 280%;
      }
    }
  }
  &--content {
    width: 50%;
    display: flex;
    flex-direction: column;
    .header {
      padding: 1rem;
    }
    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      .content {
        max-width: 500px;
        min-width: 500px;
        margin-top: -5rem;
        h1 {
          color: $white;
        }
        p {
          margin-top: 1rem;
        }
      }
    }
    @media (max-width: 780px) {
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      z-index: 99999;
    }
  }
}
